<style>
    #mainNav {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        border: none;
        background-color: transparent;
        transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;

    }

    #mainNav.navbar-shrink {
        padding-top: 1rem;
        padding-bottom: 1rem;
        background-color: #212529;
    }
</style>
<!-- Masthead-->
<header class="masthead">
    <div class="container">
        {{#unless session.isLogined}}
        <div class="masthead-subheading" style="text-shadow: 2px 2px black;">Buon Appetito!</div>
        <div class="masthead-heading text-uppercase" style="text-shadow: 2px 2px black;">Welcome to our restaurent
        </div>
        <a class="btn btn-primary btn-xl text-uppercase" href="/#login">Sign in</a>
        {{else}}
        <div class="masthead-subheading" style="text-shadow: 2px 2px black;">Bentornato!</div>
        <div class="masthead-heading text-uppercase" style="text-shadow: 2px 2px black;">Welcome back,
            {{session.user.role}}
        </div>
        <a class="btn btn-primary btn-xl text-uppercase" href="/order">Order</a>
        {{/unless}}
    </div>
</header>
<!--Login Section-->
{{#unless session.isLogined}}
<section class="page-section bg-light" id="login">
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-6">
                <div class="text-center">
                    <p class="title">Login</p>
                </div>
                <form method="post" action="/users/login">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" name="username"
                            placeholder="Enter username">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password"
                            placeholder="Password">
                    </div>
                    <br>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>

                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>
</section>

{{/unless}}